{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tabs/tabs_aprender.css' %}">
<div class="container py-4">
    <ul class="nav nav-tabs" id="aprenderTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab-educativas" data-bs-toggle="tab" data-section="educativas" type="button" role="tab">Fichas Educativas</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-multimedia" data-bs-toggle="tab" data-section="multimedia" type="button" role="tab">Fichas Multimedia</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-mapa" data-bs-toggle="tab" data-section="mapa" type="button" role="tab">Mapa de Especies</button>
        </li>
    </ul>
    <div class="tab-content mt-4" id="aprenderTabContent">
        <div id="tab-content-loader" class="text-center py-5">
            <div class="spinner-border text-success" role="status"></div>
            <div class="mt-3">Cargando contenido...</div>
        </div>
        <div id="tab-content-dynamic"></div>
    </div>
</div>
<script src="{% static 'js/tabs/tabs_aprender.js' %}"></script>
{% endblock %} 